-illow==7.2.0
backcall==0.2.0
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.5
cycler==0.10.0
decorator==5.1.1
Django==2.2.28
idna==2.8
image==1.5.33
ipykernel==5.5.6
ipython==7.9.0
ipython-genutils==0.2.0
jedi==0.17.2
jupyter-client==6.1.12
jupyter-core==4.6.3
kiwisolver==1.1.0
matplotlib==2.2.5
numpy==1.14.0
opencv-python==4.1.0.25
pandas==0.23.4
parso==0.7.1
pickleshare==0.7.5
Pillow==5.4.1
pip==20.3.4
prompt-toolkit==2.0.10
Pygments==2.11.2
pyparsing==2.4.7
python-dateutil==2.9.0.post0
pytz==2025.1
pywin32==301
pyzmq==20.0.0
requests==2.22.0
setuptools==40.2.0
six==1.17.0
sqlparse==0.4.4
torch==0.4.1
torchfile==0.1.0
torchvision==0.2.2
tornado==6.1
tqdm==4.19.9
traitlets==4.3.3
urllib3==1.25.11
wcwidth==0.2.13
wheel==0.37.1
win-unicode-console==0.5
wincertstore==0.2
